@import "../../styles/fonts";
@import "../../styles/global";
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dbdbdb;
  padding: 2rem;
  height: 5vh;
  &__image {
    flex: 2;
    img {
      width: 10%;
   
    }
  }
  &__fields {
    display: flex;
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    flex: 1;
    justify-content: space-between;
    cursor: pointer;
    li {
      &.inactive {
        color: #f155a5;
        opacity: 0.5;
      }

      &.active {
        color: #f155a5;
        text-decoration: underline;
      }
    }
  }
}
